--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio
fastapi
uvicorn
pydantic
requests
pypdf
pinecone-client
google-generativeai
python-dotenv
sentence-transformers
